#home{
 background-image: url(backround.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
display: flex;
justify-content: center;
min-height: 100vh;
}
.col-lg-6{
    
}
.content{
    margin-top: 15%;
    color: #ffff;
    
}
.content h1{
    font-size: 5vw;
}
.content p{
 font-size: 2.5vw;
 font-weight: bolder;
}
#love-button{
    font-size: 2vw;
}